@charset "utf-8";
$fontSize:20;
@function r($px){
	@return $px/2/$fontSize+rem;
}
@mixin setPm($name,$val...){

	$max:length($val);
	$str:'';
	@for $i from 1 through $max{
		$value:nth($val,$i)/2/$fontSize;//取出$val后所有数字
		$str:#{$str+$value}rem;
		@if $i <$max{
			$str:#{$str+" "};
		}

	}
	#{$name}:$str;
}
html,body,#wrap{
	width: 100%;
	height: 100%;
}
#wrap{
    position: relative;
    background: url(../image/背景@2x.png) no-repeat;
	background-size:cover; 
}
#wrap .navbar{
	height: r(270);
	background: url(../image/avatar-拷贝@2x.png) no-repeat;
	background-size:cover; 
	width: 100%;
	color: white;
}
.navbar1{
	float: left;
}
.navbar1 img{
    width: r(130);
    height: r(130);
    margin-top: r(50);
    margin-left: r(50);
}
.navbar2{
	width: r(430);
	height: r(130);

	float: left;
	margin-top: r(50);
    margin-left: r(30);
}
.navbar2 .img1{
	width: r(60);
	height: r(40);
}
.navbar2 .span1{
	font-size:r(35);

}
.navbar2 .span2{
	font-size:r(10);

}
.navbar2 p{
	font-size: r(25);
}
.navbar2 .img2{
	width: r(25);
	height: r(25);
}
.navbar3 img{
	width: 100%;
	height: r(60);
	margin-top: r(20);
}
#slide3{
	width: 100%;
	height: r(85);
	border-bottom: 1px solid #e5e5e5;
}
#slide3 .page{
	 text-align: center;
     line-height: r(85);
}
.main{
	width: 100%;
	height: r(780);
	overflow: hidden;
}
#slide4 .swiper-slide #slide5{
	width: r(160);
	height:r(780);
	float: left;
}
#slide4 .page{
	overflow: hidden;
}
#slide5 .page1 {
	height: r(100);
	line-height: r(100);
	text-align: center;
	border-bottom: 1px solid #d9dde1;
}
#slide4 .swiper-slide #slide6{
	width: r(480);
	float: left;
	// background: yellow;
	overflow: hidden;
}

#slide6 .swiper-wrapper{
    width: r(480);
	height: r(780);

}
#slide6 h3{
	background:#f3f5f7;
	color: #93999f;
	font-size: 20px;
}

#slide6 div .page2{
	height: r(225);
	border-bottom: 1px solid #d9dde1;
	// border: 1px solid red;
}
#slide6 div .page2 img{
	padding-top: r(35);
	padding-left: r(35);
}
#slide6 div .page2 span{
    // padding-top: r(-35);
	// margin-left: r(35);
	font-weight: bolder;
	color: red;
}
#slide6 div .page2 .zhou1{
	float: left;
	margin-right:r(30);
}
#slide6 div .page2 .zhou2{
	padding-top: r(35);
	float: left;
}
#slide6 div .page2 .zhou3{
	// height: r(20);
	margin-top: r(-30);
	// margin-right:r(30);
	// background: yellow;
	float: right;

}
#slide6 div .page2 .zhou3 div{
	float: left;
}
#slide6 div .page2 .zhou3 .zhou4{
	margin-top: r(35);
	margin-left: r(30);
	// font-size: r(35);
	font-weight: bolder;
}
#slide6 div .page2 .zhou2 p{
	font-size: r(25);
	font-weight: bolder;
}
#slide6 div .page2 .zhou2 h5{
	color:#c3c6c9;
	font-size:r(20); 
}
#wrap .footer{
	width: 100%;
	height: r(125);
	background: url(../image/矢量智能对象a@2x.png) no-repeat;
	background-size:cover; 
	position: fixed;
	bottom: 0;
	z-index: 1000;
}

#wrap .footer .footer1{
  width: 30%;
  height: r(100);
  background: #2b333b;
  margin-top: r(23);
  float: right;
  font-size: r(30);
  text-align: center;
  line-height: r(100);
  color: white;
}
#wrap .footer .footer1_1{
	background:#54D968;
	width: 30%;
    height: r(100);
    margin-top: r(23);
    float: right;
    font-size: r(30);
    text-align: center;
    line-height: r(100);
    color: white;
}
#wrap .footer .footdis{
	display: none;
}
#wrap .footer .footer1_2{

	background:#54D968;
	width: 30%;
    height: r(100);
    margin-top: r(23);
    float: right;
    font-size: r(30);
    text-align: center;
    line-height: r(100);
    color: white;
}
#wrap .footer .footer3{
  width: 40%;
  height: r(95);
  // background:red;
  margin-top: r(-20);
  float: right;
  font-size: r(40);
  // text-align: center;
  line-height: r(95);
  color: white;
}
#wrap .footer .footer2{
  width: r(60);
  height: r(45);
  background: red;
  border-radius: r(15);
  margin-left: r(105);
  font-size: r(30);
  text-align: center;
  line-height: r(45);
  color: white;
}
#end {
	width: 200px;
	height: 200px;
	background: red;
	position: absolute;
	bottom: 0;
	left: 0;
	}

.u-flyer {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	z-index: 9999;
	}

#slide7 .page{
    width: r(480);
	height: r(790);

}

#slide7 div .page2{
	float:right;
	//height: r(225);
	//border-bottom: 1px solid #d9dde1;
	// border: 1px solid red;
}
#slide7 div .page2 img{
	padding-top: r(35);
	padding-left: r(35);
}
#slide7 div .page2 span{
    // padding-top: r(-35);
	// margin-left: r(35);
	font-weight: bolder;
	color: red;
}
#slide7 div .page2 .zhou1{
	float: left;
	margin-right:r(30);
}
#slide7 div .page2 .zhou2{
	padding-top: r(35);
	float: left;
}
#slide7 div .page2 .zhou3{
	// height: r(20);
	margin-top: r(-30);
	margin-right:r(30);
	// background: yellow;
	float: right;

}
#slide7 div .page2 .zhou3 div{
	float: left;
}
#slide7 div .page2 .zhou3 .zhou4{
	margin-top: r(35);
	margin-left: r(30);
	// font-size: r(35);
	font-weight: bolder;
}
#slide7 div .page2 .zhou2 p{
	font-size: r(25);
	font-weight: bolder;
}
#slide7 div .page2 .zhou2 h5{
	color:#c3c6c9;
	font-size:r(20); 
}

.cart1{
	width: 100%;
	height: r(80);
	background: #0096FF;
}
.cart1 a{
	color:white;
	font-size: r(50);
}
.cart2{
	width: 100%;
	height: r(200);
	// background: pink;
	border-bottom: 1px solid  #0096FF;
}
.cart2 p{
	text-align: center;
	line-height: r(100);
	color: #0096FF;
    font-size: r(50);
}
